nav#nav-container(ng-controller='NavController')
  .brand-sidebar
    a(href='./', target='_self') ngAdmin

  ul.nav.nav-stacked
    li.search-sidebar
      input(ng-model='filter', name='filter', type='search', placeholder='Search something...')
      a
        i.fa.fa-search

    li.profile-sidebar.online
      .face.dropdown-submenu.pull-left.open
        a.avator
          img(src='//q.qlogo.cn/qqapp/100229475/70F82D66FE3FD280B8BC8D789E5CE979/100')

      .info.dropdown-submenu
        a.name David Jones
        span.role Administrator
        a.status

  .scroll-viewport
    .viewport-scroll(ng-iscroll)
      ul.nav.nav-stacked(slidedown-group)
        li(slidedown, ng-repeat='nav in navigations',
          isopen='{{ nav.key == navs[0] && paths.length > 1 }}',
          ng-hide='nav.hidden',
          ng-class='{\
            "dropdown-submenu": nav.child,\
            "active": nav.key == navs[0] && paths.length === 1\
          }')

          a(ng-if='!nav.child', ng-href='{{ nav.url || "/docs/" + nav.key }}/')
            i(class='fa fa-{{ nav.icon }}')
            span {{ nav.name }}

          a(ng-if='nav.child', slidedown-toggle)
            i(class='fa fa-{{ nav.icon }}')
            span {{ nav.name }}

          ul.nav-submenu(ng-if='nav.child', slidedown-list)
            li(ng-repeat='menu in nav.child',
              ng-hide='menu.hidden',
              ng-class="{\
                active: menu.key == navs[1] || menu.key == paths.slice(1, paths.length).join('/')\
              }")
              a(ng-href='{{ menu.url || "/docs/" + menu.key }}/', target='{{ menu.target }}')
                i(class='fa fa-circle-o')
                | {{ menu.name }}
