doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(name="description", value= pkg.description)
    meta(name="keywords", value= pkg.keywords)

    //- lt styles
    link(href= makeVersion('/assets/styles/bootstrap/bootstrap.min.css'), rel="stylesheet", media="screen")
    link(href= makeVersion('/assets/styles/font-awesome/font-awesome.min.css'), rel="stylesheet", media="screen")
    link(href= makeVersion('/assets/styles/ngAdmin/ngAdmin.min.css'), rel="stylesheet", media="screen")
    link(href= makeVersion('/assets/styles/app/index.min.css'), rel="stylesheet", media="screen")
    title Index | ngAdmin

    //- lt scripts
    script(src= makeVersion('/assets/scripts/script/script.min.js'))
    script.
      'use strict'

      var jsfile = {
        angular: '#{ makeVersion("/assets/scripts/angular/angular.js") }'
        , ngRoute: '#{ makeVersion("/assets/scripts/angular-route/angular-route.js") }'
        , ngTouch: '#{ makeVersion("/assets/scripts/angular-touch/angular-touch.js") }'

        , jQuery: '//code.jquery.com/jquery-1.11.0.min.js'
        , highcharts: '#{ makeVersion("/assets/scripts/highcharts-4.0.4.min.js") }'
        , ngHeightcharts: '#{ makeVersion("/assets/scripts/highcharts-ng-0.0.8.min.js") }'

        , public: '#{ makeVersion("/assets/scripts/main/" + pkg.name + ".js") }'
        , app: '#{ makeVersion("/assets/scripts/main/apps/index.js") }'
      }

      $script(jsfile.angular, function() {
        //- jQuery load after angular, because the angular will auto load jQuery instead jqlit
        //- etc. $event or origin event, jQuery will redefine the event object.
        //- $script(jsfile.jQuery, function() {
        //-   $script(jsfile.highcharts, function() {
        //-     $script(jsfile.ngHeightcharts)
        //-   })
        //- })

        //- Loading public module, and the page module before angular and it's plugin is ready.
        $script([jsfile.ngRoute, jsfile.ngTouch], function() {
          $script([jsfile.public], function() {
            $script([jsfile.app], function() {
              //- Because js file was loaded in async, we must bootstrap the extrance module.
              angular.bootstrap(document, ['index'])
            })
          })
        })
      })

    //- lt icons
    link(href= makeVersion("/assets/panels/favicon.ico"), rel="shortcut icon")
    link(href= makeVersion("/assets/panels/touch-icon-iphone.png"), rel="apple-touch-icon")
    link(href= makeVersion("/assets/panels/touch-icon-ipad.png"), rel="apple-touch-icon", sizes="76x76")
    link(href= makeVersion("/assets/panels/touch-icon-iphone-retina.png"), rel="apple-touch-icon", sizes="120x120")
    link(href= makeVersion("/assets/panels/touch-icon-ipad-retina.png"), rel="apple-touch-icon", sizes="152x152")

  body.fixed-layout.minify-nav
    .container-layout
      aside.aside-layout.navigation-layout(nav-layout)
        include templates/partial/nav

      main.main-layout
        include templates/partial/header
        ng-view.viewport-layout

      aside.aside-layout.fixed-layout.chat-layout(chat-layout)
        include templates/partial/chatbar