doctype
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(name="description", value= pkg.description)
    meta(name="keywords", value= pkg.keywords)

    //- lt styles
    link(href= makeVersion('/assets/styles/bootstrap/bootstrap.min.css'), rel="stylesheet", media="screen")
    link(href= makeVersion('/assets/styles/font-awesome/font-awesome.min.css'), rel="stylesheet", media="screen")
    link(href= makeVersion('/assets/styles/ngAdmin/ngAdmin.min.css'), rel="stylesheet", media="screen")
    link(href= makeVersion('/assets/styles/app/font-end.min.css'), rel="stylesheet", media="screen")
    title Font-End | ngAdmin

    //- lt scripts
    script(src= makeVersion('/assets/scripts/script/script.min.js'))
    script.
      'use strict'

      var jsfile = {
        angular: '#{ makeVersion("scripts/angular/angular.min.js") }'
        , ngRoute: '#{ makeVersion("scripts/angular-route/angular-route.min.js") }'
        , ngTouch: '#{ makeVersion("scripts/angular-touch/angular-touch.min.js") }'

        , jQuery: '//code.jquery.com/jquery-1.11.0.min.js'
        , highcharts: '#{ makeVersion("scripts/highcharts-4.0.4.min.js") }'
        , ngHeightcharts: '#{ makeVersion("scripts/highcharts-ng-0.0.8.min.js") }'

        , public: '#{ makeVersion("/scripts/main/" + pkg.name + ".js") }'
        , app: '#{ makeVersion("/scripts/main/apps/font-end.js") }'
      }

      $script(jsfile.angular, function() {
        //- jQuery load after angular, because the angular will auto load jQuery instead jqlit
        //- etc. $event or origin event, jQuery will redefine the event object.
        $script(jsfile.jQuery, function() {
          $script(jsfile.highcharts, function() {
            $script(jsfile.ngHeightcharts)
          })
        })

        //- Loading public module, and the page module before angular and it's plugin is ready.
        $script([jsfile.ngRoute, jsfile.ngTouch], function() {
          $script([jsfile.public, jsfile.app], function() {
            //- Because js file was loaded in async, we must bootstrap the extrance module.
            angular.bootstrap(document, ['font-end'])
          })
        })
      })

    //- lt icons
    link(href= makeVersion("/assets/panels/ico/favicon.ico"), rel="shortcut icon")
    link(href= makeVersion("/assets/panels/ico/touch-icon-iphone.png"), rel="apple-touch-icon")
    link(href= makeVersion("/assets/panels/ico/touch-icon-ipad.png"), rel="apple-touch-icon", sizes="76x76")
    link(href= makeVersion("/assets/panels/ico/touch-icon-iphone-retina.png"), rel="apple-touch-icon", sizes="120x120")
    link(href= makeVersion("/assets/panels/ico/touch-icon-ipad-retina.png"), rel="apple-touch-icon", sizes="152x152")

  body